In [2]:
a = 0

a = a + 1
print(a)

1

In [3]:
a = 1  # creates an integer

b = 3.4  # float

# several ways for strings
c = "hello"
d = 'world'
cd = "welcome to this 'world' here"  # we can now use '' inside (or vice versa)
e = """hello world"""  # which we can also wrap
e2 = """hello
world
come here!"""

g = True

In [4]:
type(a)

int

In [5]:
a = 1
b = 2

print(a+b)

3

In [6]:
mix_str_int = a + "foo"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
mix_str_int2 = a + "5"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
a + int("5")

6

In [9]:
f = 1.2
print(type(f))

<class 'float'>

In [10]:
int_plus_float = a + f
print(type(int_plus_float))

<class 'float'>

In [11]:
int_plus_float = float(a) + f

In [16]:
print(False + 5)

print(True + 5)

5
6

In [17]:
# creating a list
list1 = [1, 2, 3]
print(list1)

[1, 2, 3]

In [18]:
list1[0]

1

In [19]:
list1[1] = 42
print(list1)

[1, 42, 3]

In [20]:
list1.append(-5)
print(list1)

[1, 42, 3, -5]

In [21]:
list1[14]

IndexError: list index out of range

In [22]:
person = {'name': "Jonas Eschle", 'age': 42, 5: True, 11: "hi"}  # we can use strings but also other elements
print(person)

{'name': 'Jonas Eschle', 'age': 42, 5: True, 11: 'hi'}

In [23]:
print(person['name'])
print(person[5])
print(person[11])

Jonas Eschle
True
hi

In [25]:
person['age'] = '42.00001'
person['alias'] = "Mayou36"
print(person)

{'name': 'Jonas Eschle', 'age': '42.00001', 5: True, 11: 'hi', 'alias': 'Mayou36'}

In [26]:
person['nationality']

KeyError: 'nationality'

In [27]:
hair_color = person.get('hair_color', 'unknown color')  # the second argument gets returned if key is not in dict
print(hair_color)

unknown color

In [28]:
# creating a tuple
tuple1 = (1, 3, 5)
# or from a list
tuple_from_list = tuple(list1)

In [29]:
list2 = [4, 5]
tuple2 = (3, 4)
list3 = list(tuple2)

In [30]:
print(tuple1[1])  # access works!

3

In [31]:
tuple1[0] = 5

TypeError: 'tuple' object does not support item assignment

In [32]:
a = 1
a = "one"
a = list1

In [33]:
a = 5
b = a
print(a, b)

5 5

In [34]:
a = 3
print(a, b)

3 5

In [35]:
list1 = [1, 3]
list2 = list1
print(list1, list2)

[1, 3] [1, 3]

In [36]:
list2[0] = 99
print(list1, list2)

[99, 3] [99, 3]

In [38]:
a = 3
list_a = [1, 2]

In [39]:
b = a  # this assigns the reference of a to b
list_b = list_a

In [40]:
a = 'spam'
list_a = [1, 5, 2, 'world', 1]
print(a, b)
print(list_a, list_b)

spam 3
[1, 5, 2, 'world', 1] [1, 2]

In [41]:
a = 'spam'
list_a = [1, 5, 2, 'world', 1]
print(a, b)
print(list_a, list_b)

spam 3
[1, 5, 2, 'world', 1] [1, 2]

In [42]:
b = a
list_b = list_a
print(a, b)
print(list_a, list_b)

spam spam
[1, 5, 2, 'world', 1] [1, 5, 2, 'world', 1]

In [43]:
list_a[1] = 'hello'
print(list_a, list_b)

[1, 'hello', 2, 'world', 1] [1, 'hello', 2, 'world', 1]

In [44]:
list_c = list_a.copy()  # now there are two identical lists in the memory

In [45]:
list_a[2] = 'my'
print(list_a)
print(list_b)
print(list_c)

[1, 'hello', 'my', 'world', 1]
[1, 'hello', 'my', 'world', 1]
[1, 'hello', 2, 'world', 1]

In [46]:
print(list_a == list_c)  # not the same
print(list_a == list_b)  # the same

False
True

In [47]:
list_c[2] = 'my'  # make it the same as the other lists
print(list_a == list_c)

True

In [48]:
print(list_a is list_c)  # nope!
print(list_a is list_b)  # yes!

False
True

In [49]:
N = 10

list_of_squares = [i**2 for i in range(N)]
sum_of_squares = sum(list_of_squares)

print('Sum of squares for', N, 'is', sum_of_squares)

Sum of squares for 10 is 285

In [50]:
# [obj_to_return if ... else ... for i in ... for j in ... if ...]
[i for i in range(10) if i % 2]

[1, 3, 5, 7, 9]

In [51]:
a

'spam'

In [52]:
squares = {i: i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [53]:
N = 5
print('The square of', N, 'is', squares[N])

The square of 5 is 25

In [54]:
pt_cut = 1789.234567890987654
eta_low = 2
eta_high = 5

cut_string = f'(PT > {pt_cut:.2f}) & ({eta_low} < ETA < {eta_high})'
print(cut_string)

(PT > 1789.23) & (2 < ETA < 5)