In [1]:
a = [4, 2, 9, 3]
a

[4, 2, 9, 3]

In [4]:
import math
excellent = [41, 'Hello', math.sin]
print(excellent[0])
print(excellent[2])

41
<built-in function sin>

In [5]:
len(a)

4

In [6]:
a.append(45)
a

[4, 2, 9, 3, 45]

In [8]:
del a[-2]
a

[4, 2, 45]

In [10]:
a[1:-1]
a

[4, 2, 45]

In [12]:
print(a)

print(a[:-2])

print(a[1:])

print(a[:])

[4, 2, 45]
[4]
[2, 45]
[4, 2, 45]

In [13]:
 b = a[1:]
b

[2, 45]

In [14]:
b[0] = 3
b

[3, 45]

In [15]:
b[:2] = [99, 2, 78]
b

[99, 2, 78]

In [16]:
b[2:0] = [6]
b

[99, 2, 6, 78]

In [18]:
for item in a:
    print(item)

4
2
45

In [19]:
a_copy = a[:]
for item in a_copy:
    del a_copy[0]
a_copy

[45]

In [20]:
a_copy = a[:]
i = 0
for item in a_copy:
    a_copy[i] = 2*item
    i += 1
a_copy

[8, 4, 90]

In [21]:
a_doubled = a[:]
for index, item in enumerate(a_doubled):
    a_doubled[index] = 2*item
a_doubled

[8, 4, 90]

In [22]:
one, two = [34, 43]
print(two, one)

43 34

In [23]:
nested = [[20, 29], [30, 34]]
for item in nested:
    print(item)

[20, 29]
[30, 34]

In [24]:
for one, two in nested:
    print(two, one)

29 20
34 30

In [25]:
enumerate(a)

list(enumerate(a))

[(0, 4), (1, 2), (2, 45)]

In [26]:
for item, item2 in zip(a, a_doubled):
    print(item2, item)

8 4
4 2
90 45

In [27]:
list(zip(a, a_doubled))

[(4, 8), (2, 4), (45, 90)]

In [28]:
for i in range(0, 10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [30]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
for index, item in zip(range(len(a)), a):
    print(index, item)

0 4
1 2
2 45

In [33]:
a_doubled = a[:]
for index, item in enumerate(a_doubled):
    a_doubled[index] = 2*item

a_doubled

[8, 4, 90]

In [34]:
a_doubled = [2*item for item in a]
a_doubled

[8, 4, 90]

In [35]:
[index*item for index, item in enumerate(a)]

[0, 2, 90]

In [36]:
[[item, item*item] for item in a]

[[4, 16], [2, 4], [45, 2025]]

In [37]:
[[item, item*item] for item in a if item % 2 == 0]

[[4, 16], [2, 4]]

In [40]:
a = (3, 4)
del a[0]
a[0] = 1

TypeError: 'tuple' object doesn't support item deletion

In [41]:
coords = (3.2, 0.1)
x, y = coords

In [42]:
list(enumerate([4, 9]))

[(0, 4), (1, 9)]

In [43]:
kaon = [3.4, 4.3, 20.0]
pion = [1.4, 0.9, 19.8]

In [46]:
magsq = sum([(k + pi)**2 for k, pi in zip(kaon, pion)])
math.sqrt(magsq)

40.42425014765271